[Unit]
Description=MateBot daemon
After=network-online.target mariadb.service
Wants=network-online.target mariadb.service

[Service]
Type=simple
ExecStart=/home/mate_bot/venv/bin/python /home/mate_bot/main.py 
User=mate_bot
WorkingDirectory=/home/mate_bot
Restart=always
SyslogIdentifier=matebot

[Install]
WantedBy=multi-user.target
