[Unit]
Description=MateBot daemon
After=network-online.target mariadb.service
Wants=network-online.target mariadb.service

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /home/matebot/MateBot/main.py run
User=matebot
WorkingDirectory=/home/matebot/MateBot
Restart=always
SyslogIdentifier=matebot

[Install]
WantedBy=multi-user.target
