[Unit]
Description=MateBot daemon

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /home/matebot/MateBot/mate_bot/main.py 
User=matebot
WorkingDirectory=/home/matebot/MateBot/mate_bot/
Restart=always
After=network-online.target mariadb.service
Wants=network-online.target mariadb.service
SyslogIdentifier=matebot

[Install]
WantedBy=multi-user.target
