aiohttp>=3.7,<4.0
aiofiles>=0.7.0,<1.0
fastapi>=0.66.0,<1.0
pydantic>=1.8.2,<2.0
python-jose>=3.3.0,<4.0
python-multipart==0.0.5,<1.0
requests>=2.26.0,<3.0
SQLAlchemy>=1.4.20,<2.0
ujson>=4.0,<5.0
uvicorn>=0.14.0,<1.0
